body {
    font-family: 'Roboto', sans-serif;
    background-color: #cacaca;
    margin: 0 auto;
    padding: 0 auto;
    color: #000000;
}

header{
  background-color: #2a363b;
  padding: 1%;
  color: #ffffff;
  text-align: left;
}

#menu ul {
  width: auto;
  margin: auto;
  padding: 2%;
  background-color: #000000;
  display: flex;
  justify-content: center
}

#menu li {
  display:flex;
}

#menu a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

#ubicacion {
  padding: 55px;
  font-size: 25px;
  text-align: center;
  color: #586875;
}

#contacto {
  padding: 55px;
  font-size: 25px;
  text-align: center;
  color: #586875;
  text-align: center;
}

#horario {
  padding: 55px;
  font-size: 25px;
  color: #586875;
  text-align: center;
}

#ubicacion p, #contacto p, #horario p{
  color: #000;
  font-size: 20px;
}

#ubicacion h2, #contacto h2, #horario h2{
  color: #586875;  
  font-size: 35px;
  text-align: center;
}

#columnas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 2%;
  margin-top: 5%;
}




